.result {
    display: flex;
    justify-content: center;
    align-items: center; 
    color: midnightblueS;
    font-size: 40px;
}

.beforeresult {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:  160px;
}